@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    padding:10px 72px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #1f2937;
}

.header a{
    color:#e5e7eb;
    text-decoration: none;
    padding:0 5px;
}
.header a:hover{
    color:white;

}

span.logo{
    color:#f9faf8;
    font-size:24px;
}

.hero{
    display:flex;
    background-color: #1f2937;
    flex-direction:row;
    justify-content: center;
    /* align-items:flex-start; */
    /* justify-content: space-around; */
    column-gap: 20px;
    padding: 42px 72px;
    flex:1 1 auto;
}

.hero-col{
    display:flex;
    flex-direction:column;
    background-color: #1f2937;
    color:#e5e7eb;
    font-size: 18px;
    padding-top:36px;
    align-items:flex-start;
}

.hero-col>*:first-child{
    align-self:flex-start;
}
.hero-col h1{
    margin-top: -2.3rem;
    display:inline;
    font-size:48px;
    font-weight: 900;
}
.hero a{
    margin-top:5px;
    background-color:#3882f6;
    color:white;
    width: 100px;
    text-align: center;
    padding:2px;
    border-radius:5px;
}

.hero-row{
    padding:10px 0;
    display:flex;
    background-color: #1f2937;
    flex-direction:row;
    justify-content: right;
    column-gap: 20px;
    padding: 0;
    flex:1 1 auto;
}

.hero-row img{
    width:325px;
    height:150px;
}

.random-info {
    padding-top:32px;
    padding-bottom:64px;
    display: flex;
    flex-direction: column;
}
.random-info>*:first-child {
    align-self: center;
    padding-bottom:32px;
}
.random-info small{
    padding-top:1rem;
    align-self: center;
}
.random-info small a{
    text-decoration: none;
}

.thumbnails-layout {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    column-gap: 32px;
}
.thumbnails-layout img{
    width:100px;
    height:100px;
    border-radius:10px;
    border: 2px solid #3882f6;
}

.thumbnails {
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;
}
.thumbnails span{
    padding:5px;
    font-size: 10px;
}

.quote-section{
    /* padding:64px 36px; */
    padding:64px 20%;
    display:block;
    background-color: #e5e7eb;
    width:100%;
}
/* .quote-span{
    padding:0 10%;
} */
.quote-section blockquote{
    color:#1f2937;
    font-size:24px;
    font-weight: 300;
    font-style: italic;
}
.quote-section figcaption{
    padding-top:10px;
    text-align: right;
}
.quote-section cite{
    font-style: italic;
}

.call-to-action{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:42px 72px;
    padding:24px 32px;
    background-color: #3882f6;
    color:white;
    border-radius:5px;
}
.call-to-action h1{
    font-size: 14px;
}
.call-to-action a {
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding:2px 10px;
    border-radius:5px;
}
.call-to-action a:hover {
    text-decoration: none;
    color:#3882f6;
    border:1px solid white;
    padding:2px 10px;
    border-radius:5px;
    background-color: white;
}

.footer{
    padding:20px 72px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #1f2937;
    color:#e5e7eb;
}